.edit{
    width: 100%;
    min-height: 350px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.edit_child{
    border: 3px solid white;
    height: 350px;
    margin: 5px 10px;
    flex: 1 1 200px;
}

.heading{
    text-align: center;
    padding-top: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 30px;
    width: 100%;
    background-color: black;
    border-bottom: 3px solid white;
    box-sizing: border-box;
}

.output{
    height: 100px;
    width: 100%;
    background-color: greenyellow;
}

.iframe{
    height: 100vh;
    background-color: white;
    margin: 5px;
}

.iframe_heading{
    height: 30px;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    
}

.textarea{
    min-height: 320px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    resize: none;
}

.line_number{
}