.edit{
    width: 100%;
    height: 350px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.edit_child{
    height: 100%;
    background-color: blue;
    margin: 5px 10px;
    flex: 1 1 200px;
}

.heading{
    height: 30px;
    width: 100%;
    background-color: pink;
}

.output{
    height: 100%;
    width: 100%;
    background-color: greenyellow;
}