.edit{
    width: 100%;
    min-height: 350px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.edit_child{
    height: 350px;
    background-color: blue;
    margin: 5px 10px;
    flex: 1 1 200px;
}

.heading{
    height: 30px;
    width: 100%;
    background-color: pink;
}

.output{
    height: 100px;
    width: 100%;
    background-color: greenyellow;
}

.iframe{
    height: 100vh;
    border: 3px solid black;
    background-color: white;
    margin: 5px;
}

.iframe_heading{
    height: 30px;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 3px solid black;
}